<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.gwchina.lssw.parent"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">

        <!--调试工具-->
        <activity
            android:name="com.gwchina.sdk.debug.DebugActivity"
            android:label="调试工具"
            android:theme="@style/Theme.AppCompat.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>