<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.gwchina.lssw.parent.account"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="com.gwchina.parent.account.AccountAppContext"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="账户模块"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        tools:replace="android:theme,android:label,android:allowBackup">

        <!--调试-->
        <activity
            android:name="com.gwchina.parent.account.AccountDebugActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <!--登录注册界面-->
        <activity
            android:windowSoftInputMode="adjustPan"
            android:name="com.gwchina.parent.account.AccountActivity">
        </activity>

    </application>

</manifest>