<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.gwchina.lssw.parent.user"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="com.gwchina.parent.user.ChildrenAppContext"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="孩子相关"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        tools:replace="android:theme,android:label,android:allowBackup">

        <!--孩子调试界面-->
        <activity
            android:name="com.gwchina.parent.user.ChildrenActivityDebugActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--调试工具-->
        <activity
            android:name="com.gwchina.sdk.debug.DebugActivity"
            android:label="调试工具"
            android:theme="@style/Theme.AppCompat.Light"/>

        <!--成长中心-->
        <activity
            android:name="com.gwchina.parent.growth.GrowthCenterActivity"
            android:screenOrientation="unspecified"/>

        <!--个人信息-->
        <activity
            android:name="com.gwchina.parent.profile.ProfileActivity"
            android:screenOrientation="unspecified"/>

        <!--会员中心-->
        <activity
            android:name="com.gwchina.parent.member.MemberActivity"
            android:screenOrientation="unspecified"/>

        <!--消息中心-->
        <activity
            android:name="com.gwchina.parent.message.MessageActivity"
            android:screenOrientation="unspecified"
            android:theme="@style/AppTheme.NoActionBar.Gray"/>

    </application>

</manifest>